header {
  padding: 4em 0 0; }

header h1 {
  font-size: 3em; }

footer div {
  margin: 21px 0 0;
  padding: 9.5px 0; }

section {
  margin-top: 2em; }

.page-header {
	font-weight: 500 !important;
}
.panel-title {
	color: black;
	font-weight: 500;
}

.title {
	color: black;
	font-weight: 500;
}

.author {
	font-weight: 100;	
}

a.author{
	color:black
}

.navbar-header a {
	font-size: 20px !important;
	font-weight: 500;   
}

.nav a{
    font-size: 15px !important;
	font-weight: 500;
    }

.label.top-right {
  position: absolute;
  right: 15px;
  top: 25px; }

section#publications .not-last {
  padding-bottom: 15px; }

section#projects div.project {
  padding-bottom: 15px; }

section#teaching ul {
  list-style: none;
  padding-left: 1em; }

section#teaching li {
  padding: 0 0 9px; }

a.thumbnail {
  color: #fff;
}

.blueimp-gallery > .close, .blueimp-gallery > .title {
  top: 8px; }

.blueimp-gallery > .prev, .blueimp-gallery > .next {
  background: transparent;
  border: none; }

/* Portfolio Wrap */
#portfoliowrap {
	padding: 0px;
	display: block;
	text-align: center
}

#portfoliowrap h3 {
	margin-bottom: 1em;
}

.portfolio {
	padding:0 !important;
	margin:0 !important;
	display:block;
}


.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:1em; text-transform:uppercase;}

.tpl6 h3
{
	color:#fff;
	margin:0px 25px 15px 25px;
	padding: 0;
	font-size:15px;
	text-transform:uppercase;
}
.tpl6 .dmbutton
{
	display:inline-block;
	margin:0px 5px 0px 5px;
	font-size:13px;
}

.tpl6 .bg
{
	height:100%;
	width:100%;
	background-color:rgba(0,179,254,0.9);
	text-align:center;
	display: table;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #ffffff;
	background-color: #222222;
	border-color: #ffffff;
}
.dmbutton {
	background:rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 0.525rem;
	padding-right: 1.25rem;
	letter-spacing:0.85px;
	padding-bottom: 0.5875rem;
	padding-left: 1.25rem;
	font-size: 1.55rem;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
	font-weight: normal !important;
}

#carousellist {
	display: inline;
    list-style: none;
	padding: 0px;
	margin: 0px;
    }

    #carousellist > li.sub ul {
    list-style: none;
    position: absolute;
    top: -1000em;
    left: 0px;
    }

    #carousellist li.sub ul li a {
    display: inline;
    }

    #carousellist{
    text-align:left;
    }

    li{
    display:inline-block;
    }
	
.carouselelement {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
}

.carouselitem
{
	padding: 0px;
	display: table-cell;
	vertical-align: middle;
}
