---
title: Community Code Review
layout: framework
---

{% include navbar_project.html title="Community Code Review" %}

{% include header_project.html title="Community Code Review" description="Merging the process of implementing and reviewing code"%}

<!-- Description -->
<section id="description">
  <div class="container">
  
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="page-header">Description</h2>
      </div>
    </div>

    <p>Traditionally, code reviews are done only once before the code is merged into the main branch. This process does not continuously give feedback on code quality (especially of legacy code), does not support questions of new developers concerning existing code, and forces the developers to leave their IDE for commenting on code.</p>
    
  </div>
</section>

{% include publications_project.html project="CCR" title="Publications in this Project" %}