---
layout: default
title: Home
---

<div class="home">

  <div class="row home-intro-row">
    {% if site.portrait %}
    <div class="home-avatar-col">
      <img src="{{ site.portrait | prepend: site.baseurl }}"
           alt="Portrait of {{ site.author }}"
           class="home-avatar">
    </div>
    {% endif %}
    <div class="home-copy-col">
      <h1>{{ site.author }}</h1>
      <p class="lead">{{ site.subheading }}</p>
    </div>
  </div>

  {% if site.posts.size > 0 %}
  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endif %}

</div>
