
<!-- Talks -->
<section id="activities">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="page-header">Professional Activities, Awards, and Honors</h2>
      </div>
    </div>
    
    {% assign reviews = site.data.activities.reviews | where: 'enabled', true %}
    {% if reviews.size > 0 %}
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			  <fieldset>
			  <legend>Reviews</legend>
			  {% assign previousconf = '0' %}
			  {% for r in reviews %}
			  	<div class="row">
		          <div class="col-md-2 col-sm-2 text-right">
		          	{% assign currentconf = r.conference_short %}
				    {% if currentconf != previousconf %}<h4>{{ r.conference_short }} {{ r.year }}</h4>{% endif %}
				    {% assign previousconf = currentconf %}
		          </div>
		          <div class="col-md-10 col-sm-10">
		            <p>{{ r.responsibilities }} for the {% if r.track %}{{ r.track }} of the {% endif %}{{ r.conference_long }} {{ r.year }}.{% if r.details %}{{ r.details }}{% endif %}</p>
		          </div>
		        </div>
			  {% endfor %}
			  </fieldset>
		    </div>
		</div>
		<br>
	    
    {% endif %}


    {% assign activities = site.data.activities.activities %}
    {% for t in activities %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		  <fieldset>
		  <legend>{{ t.title}}</legend>
		  <div class="col-sm-12">
			{{ t.content}}
		  </div>
		  </fieldset>
	    </div>
	</div>
	<br>
    {% endfor %}
  </div>
</section>
