
<!-- Contact -->
<section id="contact">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="page-header">Contact</h2>
      </div>
    </div>
    {% assign contact = site.data.contact %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

        <section class="form-horizontal" aria-labelledby="contact-information-heading">
          <h3 id="contact-information-heading" class="sr-only">Contact information</h3>

            <div class="form-group">
              <div class="col-sm-2 control-label">Email</div>
              <div class="col-sm-10">
                {% assign contact_email_href = contact.email | replace: ' at ', '@' | replace: ' dot ', '.' %}
                <p class="form-control-static"><a class="text-danger" href="mailto:{{ contact_email_href }}">Email {{ contact.email }}</a></p>
              </div>
            </div>

            {% if contact.office %}   
            <div class="form-group">
              <div class="col-sm-2 control-label">Office</div>
              <div class="col-sm-10">
                <p class="form-control-static"><span class="text-danger">{{ contact.office }}</span></p>
              </div>
            </div>       
            {% endif %}


            {% if contact.address %}   
            <div class="form-group">
              <div class="col-sm-2 control-label">Address</div>
              <div class="col-sm-10">
                <p class="form-control-static"><span class="text-danger">{{ contact.address }}</span></p>
              </div>
            </div>       
            {% endif %}


            {% if contact.profiles %}   
            <div class="form-group">
              <div class="col-sm-2 control-label">Profiles</div>
              <div class="col-sm-10">
                <p class="form-control-static text-danger">            
                {% for p in contact.profiles %}
                  <a href="{{ p.href }}" target="_blank">{{ p.desc }}</a>{% if p != contact.profiles.last %}, {% endif %}
                {% endfor %}
                </p>
              </div>
            </div>        
            {% endif %}			
        </section>
		
    
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <fieldset>
          <legend>Appearance</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="darkModeToggle">Dark Mode</label>
            <div class="col-sm-10 contact-switch-cell">
              <label class="switch contact-switch">
                <span class="sr-only">Toggle dark mode</span>
                <input type="checkbox" id="darkModeToggle" aria-label="Toggle dark mode">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

  </div>
</section>
