
<!-- Page Header -->
<header class="intro-header">
  <div class="container">

    <div class="row portrait">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <img class="img-responsive img-thumbnail center-block" src="{{ site.portrait }}" alt="portrait">
      </div>
    </div>

    <div class="row text-center">
      <h1>{{ site.authortitle }} {{ site.author }}</h1>
      {% if site.authorexplain and site.authorexplainname %}
      <a data-toggle="collapse" href="#authorexplain">{{ site.authorexplainname }}</a>
      <div class="collapse bibtex" id="authorexplain">
        <p>{{ site.authorexplain }}</p>
      </div> 
      <br>
      {% endif %}
      </div>
      <hr class="small">
      <p class="lead">{{ site.subheading }}</p>
      </div>
    </div>

    <noscript>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="alert alert-danger" role="alert">Enable JavaScript to unlock Galleries, BibTeXs, and the Contact Form.</div>
        </div>
      </div>
    </noscript>

  </div>
</header>
