<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Early highlight initialization to prevent blinking -->
  <script>
    (function() {
      var nameEQ = "show-highlights=";
      var darkEQ = "dark-mode=";
      var ca = document.cookie.split(';');
      var show = true;
      var dark = false;
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) {
          show = c.substring(nameEQ.length, c.length) === 'true';
        }
        if (c.indexOf(darkEQ) == 0) {
          dark = c.substring(darkEQ.length, c.length) === 'true';
        }
      }
      if (!show) {
        document.documentElement.classList.add('highlights-disabled');
      }
      if (dark) {
        document.documentElement.classList.add('dark-mode');
      }
    })();
  </script>

  {% seo %}

  <!-- Bootstrap Core CSS -->
  <!-- themes (*preferred):
    cerulean, cosmo*, cyborg, darkly*, flatly*, journal, lumen, paper, readable, sandstone*, simplex*, slate*, spacelab, superhero*, united*, yeti* -->
  <!--<link rel="stylesheet" href="https://bootswatch.com/3/yeti/bootstrap.min.css">-->
  <link rel="stylesheet" href="{{ " /css/bootstrap.ucla.css" | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="{{ " /css/bootstrap-image-gallery.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/scrolling-nav.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/portfolio.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/hoverex-all.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/unslider.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/unslider-dots.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css">
  <link rel="stylesheet" href="{{ " /css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% if site.personal_deck %}
  <script src="{{ "/js/se-deck.js" | prepend: site.baseurl }}"></script>
  {% endif %}

</head>