<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <!-- Bootstrap Core CSS -->
  <!-- themes (*preferred):
    cerulean, cosmo*, cyborg, darkly*, flatly*, journal, lumen, paper, readable, sandstone*, simplex*, slate*, spacelab, superhero*, united*, yeti* -->
  <!--<link rel="stylesheet" href="https://bootswatch.com/3/yeti/bootstrap.min.css">-->
  <link rel="stylesheet" href="{{ " /css/bootstrap.ucla.css" | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="{{ " /css/bootstrap-image-gallery.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/scrolling-nav.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/portfolio.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/hoverex-all.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/unslider.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/unslider-dots.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>