<nav class="navbar top-nav-collapse navbar-inverse navbar-fixed-top" id="navnav">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="../index.html#projects">{{project.title}} | {{ site.author }}</a>
    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for p in project.pages %}
          {% if p.name %}
          <li><a class="page-scroll" href="#{% if p.id %}{{ p.id }}{% else %}{{ p.name }}{% endif %}">{{ p.name }}</a></li>
          {% endif %}
        {% endfor %}
        {% if include.pubssize > 0 %}
          <li><a class="page-scroll" href="#publications">Publications</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
