<section id="photography">
  <div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
		<h2 class="page-header">Photography</h2>
		</div>
	</div>
	{% include photography/overview.html %}
	<div class="jumbotron">
	  <p>
	    In my free-time I like to do photography.
	    You can see more of my photos on <a href="https://flickr.com/photos/lichtjaeger/albums/" target="_blank">Flickr</a>, <a href="https://500px.com/p/tobiduer?view=photos" target="_blank">500px</a>, or <a href="https://www.instagram.com/tobiduer/" target="_blank">Instagram</a>.
	  </p>
	</div>

</div>
</section>
