<!-- Teaching -->
<section id="teaching">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="page-header">Teaching</h2>
      </div>
    </div>

    <div class="row teaching-term-list" role="list" aria-label="Teaching terms">
      {% assign terms = site.data.teaching.teaching %}
      {% for t in terms reversed %}
      <div class="col-md-6 col-sm-12 col-xs-12 teaching-term-item" role="listitem">
        <div class="panel panel-default teaching-term-panel">

          <div class="panel-heading">{{ t.term }}</div>
          <div class="panel-body">
            <ul>{% for c in t.courses %}
              <li>
                <h3>{{ c.course }}</h3>
                <span class="text-danger">{{ c.type }}</span>, {{ c.role }}
              </li>{% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>
