<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/pencilhatching/img_1.jpg" onmousedown="this.src='img/pencilhatching/img_1_org.jpg'" onmouseup="this.src='img/pencilhatching/img_1.jpg'" title="Click for a before / after comparison.">
    </div>            
    <div class="item">
      <img src="img/pencilhatching/img_4.jpg" onmousedown="this.src='img/pencilhatching/img_4_org.jpg'" onmouseup="this.src='img/pencilhatching/img_4.jpg'" title="Click for a before / after comparison.">
    </div>
    <div class="item">
      <img src="img/pencilhatching/img_5.jpg" onmousedown="this.src='img/pencilhatching/img_5_org.jpg'" onmouseup="this.src='img/pencilhatching/img_5.jpg'" title="Click for a before / after comparison.">
    </div>
    <div class="item">
      <img src="img/pencilhatching/img_2.jpg" onmousedown="this.src='img/pencilhatching/img_2_org.jpg'" onmouseup="this.src='img/pencilhatching/img_2.jpg'" title="Click for a before / after comparison.">
    </div>
    <div class="item">
      <img src="img/pencilhatching/img_8.jpg" onmousedown="this.src='img/pencilhatching/img_8_org.jpg'" onmouseup="this.src='img/pencilhatching/img_8.jpg'" title="Click for a before / after comparison.">
    </div>
    <div class="item">
      <img src="img/pencilhatching/img_3.jpg" onmousedown="this.src='img/pencilhatching/img_3_org.jpg'" onmouseup="this.src='img/pencilhatching/img_3.jpg'" title="Click for a before / after comparison.">
    </div>
    <div class="item">
      <img src="img/pencilhatching/img_7.jpg" onmousedown="this.src='img/pencilhatching/img_7_org.jpg'" onmouseup="this.src='img/pencilhatching/img_7.jpg'" title="Click for a before / after comparison.">
    </div>
    <div class="item">
      <img src="img/pencilhatching/img_6.jpg" onmousedown="this.src='img/pencilhatching/img_6_org.jpg'" onmouseup="this.src='img/pencilhatching/img_6.jpg'" title="Click for a before / after comparison.">
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Zurück</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Weiter</span>
  </a>
</div>

<div class="jumbotron">
  <p>
    <i>Pencil Hatching</i> is an Android app with which you can interactively <b>transform your photos into hand drawings</b>.
    The realistic pencil strokes are automatically oriented according to the image content.
    Artistic contours facilitate a sharp drawing.
    In contrast to other apps, the virtual brush of Pencil Hatching let you become an artist by locally adjusting the drawing.
    See <a href="#Walkthrough" class="page-scroll">here</a> for a complete walkthrough.
  </p>
</div>

<div class="row text-center">
  <div class="col-sm-4"> 
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-3"></div>
      <div class="col-md-8 col-sm-8 col-xs-6">
        <a href="#Presets" class="page-scroll">
          <img src="img/pencilhatching/icons/canvas.svg" class="img-responsive">
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-3"></div>
    </div>
    <br>
    <h2>Hatching Styles</h2>
    <h3 class="text-muted">Use them as starting point for your own drawings</h3>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-3"></div>
      <div class="col-md-8 col-sm-8 col-xs-6">
        <a href="#Parameter" class="page-scroll">
          <img src="img/pencilhatching/icons/setting-lines.svg" class="img-responsive">
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-3"></div>
    </div>
    <br>
    <h2>Many Parameters</h2>
    <h3 class="text-muted">Adjust the image according to your imagination</h3>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-3"></div>
      <div class="col-md-8 col-sm-8 col-xs-6">
        <a href="#Painting" class="page-scroll">
          <img src="img/pencilhatching/icons/paint-brush.svg" class="img-responsive">
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-3"></div>
    </div>
    <br>  
    <h2>Virtual Brush</h2>
    <h3 class="text-muted">Change details in the image using touch gestures</h3>
  </div>
</div>