<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Stroke Thickness</h3>
  </div>
  <div class="panel-body">
    <p>This slider adjusts the tickness of the pencil strokes to imitate shart of stumpy pencils.</p>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/stroke_width_1.jpg" onmousedown="this.src='img/pencilhatching/parameter/stroke_width_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/stroke_width_1.jpg'" onmouseout="this.src='img/pencilhatching/parameter/stroke_width_1.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Stroke thickness 1</p></center>
    </div>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/stroke_width_4.jpg" onmousedown="this.src='img/pencilhatching/parameter/stroke_width_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/stroke_width_4.jpg'" onmouseout="this.src='img/pencilhatching/parameter/stroke_width_4.jpg'" class="img-responsive img-rounded" align="right"
     data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Stroke thickness 4</p></center>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Colorize Strokes</h3>
  </div>
  <div class="panel-body">
    <p>With this switch a colorful or black and white variant can be achieved.</p>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/color.jpg" onmousedown="this.src='img/pencilhatching/parameter/color_bw_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/color.jpg'" onmouseout="this.src='img/pencilhatching/parameter/color.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>colorfuk</p></center>
    </div>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/bw.jpg" onmousedown="this.src='img/pencilhatching/parameter/color_bw_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/bw.jpg'" onmouseout="this.src='img/pencilhatching/parameter/bw.jpg'" class="img-responsive img-rounded" align="right"
     data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>black and white</p></center>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Stroke Granularity</h3>
  </div>
  <div class="panel-body">
    <p>This slider adjusts the length of the strokes to create fine or coarse drawings.</p>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/stroke_scale_0_1.jpg" onmousedown="this.src='img/pencilhatching/parameter/stroke_scale_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/stroke_scale_0_1.jpg'" onmouseout="this.src='img/pencilhatching/parameter/stroke_scale_0_1.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Stroke granularity 0,1</p></center>
    </div>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/stroke_scale_1_0.jpg" onmousedown="this.src='img/pencilhatching/parameter/stroke_scale_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/stroke_scale_1_0.jpg'" onmouseout="this.src='img/pencilhatching/parameter/stroke_scale_1_0.jpg'" class="img-responsive img-rounded" align="right"
     data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Stroke granularity 1,0</p></center>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contours</h3>
  </div>
  <div class="panel-body">
    <p>The amount of automatically detected contours can be manipulated using this slider.</p>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/contours_1.jpg" onmousedown="this.src='img/pencilhatching/parameter/contours_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/contours_1.jpg'" onmouseout="this.src='img/pencilhatching/parameter/contours_1.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Contours 1</p></center>
    </div>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/contours_2_5.jpg" onmousedown="this.src='img/pencilhatching/parameter/contours_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/contours_2_5.jpg'" onmouseout="this.src='img/pencilhatching/parameter/contours_2_5.jpg'" class="img-responsive img-rounded" align="right"
     data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Contours 2,5</p></center>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Stroke Accuracy</h3>
  </div>
  <div class="panel-body">
    <p>This slider defines whether the strokes are drawn accurately or sketchy.</p>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/angle_accuracy_0_1.jpg" onmousedown="this.src='img/pencilhatching/parameter/angle_accuracy_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/angle_accuracy_0_1.jpg'" onmouseout="this.src='img/pencilhatching/parameter/angle_accuracy_0_1.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Stroke accuracy 0,1</p></center>
    </div>
    <div class="col-sm-6">
      <img src="img/pencilhatching/parameter/angle_accuracy_0_5.jpg" onmousedown="this.src='img/pencilhatching/parameter/angle_accuracy_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/angle_accuracy_0_5.jpg'" onmouseout="this.src='img/pencilhatching/parameter/angle_accuracy_0_5.jpg'" class="img-responsive img-rounded" align="right"
     data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Stroke accuracy 0,5</p></center>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Brightness</h3>
  </div>
  <div class="panel-body">
    <p>Using this slider, brightness of the image can be changed by adjusting the stroke density.</p>
    <div class="col-sm-4">
      <img src="img/pencilhatching/parameter/brightness_-2.jpg" onmousedown="this.src='img/pencilhatching/parameter/brightness_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/brightness_-2.jpg'" onmouseout="this.src='img/pencilhatching/parameter/brightness_-2.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Brightness -2,0</p></center>
    </div>
    <div class="col-sm-4">
      <img src="img/pencilhatching/parameter/brightness_0.jpg" onmousedown="this.src='img/pencilhatching/parameter/brightness_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/brightness_0.jpg'" onmouseout="this.src='img/pencilhatching/parameter/brightness_0.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>default brightness</p></center>
    </div>
    <div class="col-sm-4">
      <img src="img/pencilhatching/parameter/brightness_2.jpg" onmousedown="this.src='img/pencilhatching/parameter/brightness_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/brightness_2.jpg'" onmouseout="this.src='img/pencilhatching/parameter/brightness_2.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Brightness +2,0</p></center>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contrast</h3>
  </div>
  <div class="panel-body">
    <p>The contrast that results from the stroke density.</p>
    <div class="col-sm-4">
      <img src="img/pencilhatching/parameter/contrast_-1.jpg" onmousedown="this.src='img/pencilhatching/parameter/contrast_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/contrast_-1.jpg'" onmouseout="this.src='img/pencilhatching/parameter/contrast_-1.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Contrast -1,0</p></center>
    </div>
    <div class="col-sm-4">
      <img src="img/pencilhatching/parameter/contrast_0.jpg" onmousedown="this.src='img/pencilhatching/parameter/contrast_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/contrast_0.jpg'" onmouseout="this.src='img/pencilhatching/parameter/contrast_0.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>default Contrast</p></center>
    </div>
    <div class="col-sm-4">
      <img src="img/pencilhatching/parameter/contrast_1.jpg" onmousedown="this.src='img/pencilhatching/parameter/contrast_org.jpg'" onmouseup="this.src='img/pencilhatching/parameter/contrast_1.jpg'" onmouseout="this.src='img/pencilhatching/parameter/contrast_1.jpg'" class="img-responsive img-rounded" align="right"
     data-toggle="tooltip" title="Click for a before / after comparison.">
      <center><p>Contrast +1,0</p></center>
    </div>
  </div>
</div>