<div class="row">
  <div class="panel-group">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Default</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/1_default.jpg" alt="Default preset: colorful pencil strokes mixed with dark contours." onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'; this.alt='Original photo before applying the default preset.'" onmouseup="this.src='img/pencilhatching/presets/1_default.jpg'; this.alt='Default preset: colorful pencil strokes mixed with dark contours.'" onmouseout="this.src='img/pencilhatching/presets/1_default.jpg'; this.alt='Default preset: colorful pencil strokes mixed with dark contours.'" class="img-responsive img-rounded" align="right"  data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>This preset is optimized for most use cases. Colorful strokes are mixed with dark contours.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stumpy Pencil</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/2_stumpy_pencil.jpg" alt="Stumpy Pencil preset: thick bright-grey strokes and large dark contours." onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'; this.alt='Original photo before applying the Stumpy Pencil preset.'" onmouseup="this.src='img/pencilhatching/presets/2_stumpy_pencil.jpg'; this.alt='Stumpy Pencil preset: thick bright-grey strokes and large dark contours.'" onmouseout="this.src='img/pencilhatching/presets/2_stumpy_pencil.jpg'; this.alt='Stumpy Pencil preset: thick bright-grey strokes and large dark contours.'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>Thick strokes with large countours imitate the style of a stumpy pencil. A bright grey tone accentuate the image.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sharp Pencil</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/3_sharp_pencil.jpg" alt="Sharp Pencil preset: black-and-white drawing with fine sharp outlines." onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'; this.alt='Original photo before applying the Sharp Pencil preset.'" onmouseup="this.src='img/pencilhatching/presets/3_sharp_pencil.jpg'; this.alt='Sharp Pencil preset: black-and-white drawing with fine sharp outlines.'" onmouseout="this.src='img/pencilhatching/presets/3_sharp_pencil.jpg'; this.alt='Sharp Pencil preset: black-and-white drawing with fine sharp outlines.'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>Accurate, sharp strokes constitute the style of a sharp pencil. The result is a black and white drawing with fine outlines.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Strong Black and White</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/4_strong_black_and_white.jpg" alt="Strong Black and White preset: high-contrast monochrome sketch with coarse strokes." onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'; this.alt='Original photo before applying the Strong Black and White preset.'" onmouseup="this.src='img/pencilhatching/presets/4_strong_black_and_white.jpg'; this.alt='Strong Black and White preset: high-contrast monochrome sketch with coarse strokes.'" onmouseout="this.src='img/pencilhatching/presets/4_strong_black_and_white.jpg'; this.alt='Strong Black and White preset: high-contrast monochrome sketch with coarse strokes.'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>This preset is characterized by a contrasty back and white style with coarse stroke.</p>
      </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lighten Black and White</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/5_light_bw.jpg" alt="Lighten Black and White preset: bright monochrome sketch with sparse contours." onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'; this.alt='Original photo before applying the Lighten Black and White preset.'" onmouseup="this.src='img/pencilhatching/presets/5_light_bw.jpg'; this.alt='Lighten Black and White preset: bright monochrome sketch with sparse contours.'" onmouseout="this.src='img/pencilhatching/presets/5_light_bw.jpg'; this.alt='Lighten Black and White preset: bright monochrome sketch with sparse contours.'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>A bright black and white style with spare contours results in a sketchy drawing</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fineliner</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/6_fine_liner.jpg" alt="Fineliner preset: colorful fine strokes with black ink-like outlines." onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'; this.alt='Original photo before applying the Fineliner preset.'" onmouseup="this.src='img/pencilhatching/presets/6_fine_liner.jpg'; this.alt='Fineliner preset: colorful fine strokes with black ink-like outlines.'" onmouseout="this.src='img/pencilhatching/presets/6_fine_liner.jpg'; this.alt='Fineliner preset: colorful fine strokes with black ink-like outlines.'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>This preset imitates the look of a file liner that draws colorful strokes with black outlines.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fine</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/7_fine.jpg" alt="Fine preset: bright curved strokes with fine details and sharp black contours." onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'; this.alt='Original photo before applying the Fine preset.'" onmouseup="this.src='img/pencilhatching/presets/7_fine.jpg'; this.alt='Fine preset: bright curved strokes with fine details and sharp black contours.'" onmouseout="this.src='img/pencilhatching/presets/7_fine.jpg'; this.alt='Fine preset: bright curved strokes with fine details and sharp black contours.'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>Bright, curved strokes revealing fine details are complemented by black, sharp contours.</p>
      </div>
    </div>
    </div>
  </div>
</div>
