<div class="row">
  <div class="panel-group">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Default</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/1_default.jpg" onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'" onmouseup="this.src='img/pencilhatching/presets/1_default.jpg'" onmouseout="this.src='img/pencilhatching/presets/1_default.jpg'" class="img-responsive img-rounded" align="right"  data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>This preset is optimized for most use cases. Colorful strokes are mixed with dark contours.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stumpy Pencil</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/2_stumpy_pencil.jpg" onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'" onmouseup="this.src='img/pencilhatching/presets/2_stumpy_pencil.jpg'" onmouseout="this.src='img/pencilhatching/presets/2_stumpy_pencil.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>Thick strokes with large countours imitate the style of a stumpy pencil. A bright grey tone accentuate the image.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sharp Pencil</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/3_sharp_pencil.jpg" onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'" onmouseup="this.src='img/pencilhatching/presets/3_sharp_pencil.jpg'" onmouseout="this.src='img/pencilhatching/presets/3_sharp_pencil.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>Accurate, sharp strokes constitute the style of a sharp pencil. The result is a black and white drawing with fine outlines.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Strong Black and White</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/4_strong_black_and_white.jpg" onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'" onmouseup="this.src='img/pencilhatching/presets/4_strong_black_and_white.jpg'" onmouseout="this.src='img/pencilhatching/presets/4_strong_black_and_white.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>This preset is characterized by a contrasty back and white style with coarse stroke.</p>
      </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lighten Black and White</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/5_light_bw.jpg" onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'" onmouseup="this.src='img/pencilhatching/presets/5_light_bw.jpg'" onmouseout="this.src='img/pencilhatching/presets/5_light_bw.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>A bright black and white style with spare contours results in a sketchy drawing</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fineliner</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/6_fine_liner.jpg" onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'" onmouseup="this.src='img/pencilhatching/presets/6_fine_liner.jpg'" onmouseout="this.src='img/pencilhatching/presets/6_fine_liner.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>This preset imitates the look of a file liner that draws colorful strokes with black outlines.</p>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fine</h3>
      </div>
      <div class="panel-body">
        <img src="img/pencilhatching/presets/7_fine.jpg" onmousedown="this.src='img/pencilhatching/presets/0_org.jpg'" onmouseup="this.src='img/pencilhatching/presets/7_fine.jpg'" onmouseout="this.src='img/pencilhatching/presets/7_fine.jpg'" class="img-responsive img-rounded" align="right" data-toggle="tooltip" title="Click for a before / after comparison.">
        <p>Bright, curved strokes revealing fine details are complemented by black, sharp contours.</p>
      </div>
    </div>
    </div>
  </div>
</div>