
  <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <fieldset>
      <div class="col-sm-12">
        <p style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%"></p>
        <iframe src="https://www.slideshare.net/slideshow/embed_code/key/4DHOK4O6GuZphv?hostedIn=slideshare&page=upload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </p>
        <h3 class="page-header">The slides to the presentation can be found <a href="https://www.slideshare.net/TobiasDrschmid1/architectural-model-inference-from-code-for-rosbased-robotics-systems" target="_blank">here</a></h3>
        </div>
  </fieldset>
    </div>
  </div>

  <div class="row">
	  <div class="col-sm-8 col-sm-offset-2">
	    <fieldset>
        <div class="col-sm-12">
          <p style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%"><iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/sUfTNU5Jb-A" frameborder="0"> </iframe></p>
		</div>
		</fieldset>
      </div>
    </div>
  