<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" class="framework-layout" data-spy="scroll" data-target=".navbar-fixed-top">
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {% if page.info_nav %}
    {% include info_page_nav.html title=page.info_nav_title %}
    {% endif %}

    <main id="main-content" tabindex="-1">
      <article class="post-content">
        {{content}}
      </article>
    </main>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>
