<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<style>
h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
h4 {
  font-weight: bold;
}
</style>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <main id="main-content" tabindex="-1">
      <article class="post-content">
        {{content}}
      </article>
    </main>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>
