<!DOCTYPE html>
<html lang="en">

{% assign projects = site.data.researchprojects.projects | where: 'key', 'sebook' %}
{% assign project = projects.first %}

{% include head.html %}

<body id="page-top" class="sebook-combined-layout" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">
  <a href="#main-content" class="skip-link">Skip to main content</a>

  <article class="post-content">

    {% assign course_key = page.course %}
    {% assign nav_key = course_key | append: '_nav' %}
    {% assign topics = site.data[nav_key].topics %}


    <nav class="navbar top-nav-collapse navbar-inverse navbar-fixed-top" id="navnav" aria-label="Main navigation">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"
            aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="primary-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" aria-hidden="true"></span>
            <span class="icon-bar" aria-hidden="true"></span>
            <span class="icon-bar" aria-hidden="true"></span>
          </button>
          <a class="navbar-brand page-scroll" href="{{project.url}}">{{page.title}}</a><a class="navbar-brand page-scroll" href="/">{{ site.author }}</a>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="primary-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- Extract H1 headings from content -->
            {% for topic in topics %}
            {% assign topic_id = topic.name | downcase | replace: ' ', '-' | replace: '&amp;', '' | replace: '(', '' |
            replace: ')', '' %}
            <li><a class="page-scroll" href="#{{topic_id}}">{{topic.name}}</a></li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div role="region" aria-label="{{ page.title | default: 'SEBook' }} introduction">
      {% include header_project.html title=page.title %}
    </div>

    <main id="main-content" tabindex="-1" class="container">
      <div class="row">
        {{content}}



        {% for topic in topics %}
        {% assign topic_id = topic.name | downcase | replace: ' ', '-' | replace: '&amp;', '' | replace: '(', '' |
        replace: ')', '' %}

        <section id="{{topic_id}}">

          {% assign current_topic = site.pages | where: "url", topic.url | first %}
          <div role="region" aria-label="{{ topic.name }} introduction">
            {% include header_project.html title=topic.name %}
          </div>
          {% if current_topic.path contains '.html' %}
          {{ current_topic.content | liquid }}
          {% else %}
          {{ current_topic.content | liquid | markdownify }}
          {% endif %}

          {% if topic.subtopics %}
          {% for subtopic in topic.subtopics %}
          <div role="region" aria-label="{{ subtopic.name }} introduction">
            {% include header_project.html title=subtopic.name %}
          </div>
          {% assign current_subtopic = site.pages | where: "url", subtopic.url | first %}
          {% if current_subtopic.path contains '.html' %}
          {{ current_subtopic.content | liquid }}
          {% else %}
          {{ current_subtopic.content | liquid | markdownify }}
          {% endif %}
          {% if subtopic.items %}
          {% for item in subtopic.items %}

          <div role="region" aria-label="{{ item.name }} introduction">
            {% include header_project.html title=item.name %}
          </div>
          {% assign current_item = site.pages | where: "url", item.url | first %}
          {% if current_item.path contains '.html' %}
          {{ current_item.content | liquid }}
          {% else %}
          {{ current_item.content | liquid | markdownify }}
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% endif %}
        </section>
        {% endfor %}

        {% capture bib %}{% bibliography --cited %}{% endcapture %}
        {% if bib contains '<li' %} <div class="row">
          <section id="references">
            <hr>
            <div class="container">
              <div class="row">
                <h2>References</h2>
                {{ bib }}
              </div>
            </div>
          </section>
      </div>
      {% endif %}
    </div>
    </main>
  </article>

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
