<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <article class="post-content">
      
      {% assign projects = site.data.researchprojects.projects | where: 'key', 'sebook' %}
      {% assign project  = projects.first %}

      <nav class="navbar top-nav-collapse navbar-inverse navbar-fixed-top" id="navnav">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="{{project.url}}">{{project.title}} | {{ site.author }}</a>
        </div>
      
      </div>
    </nav>


      {% include header_project.html title=page.title %}

        <div class="container">
          <div class="row">

                    {{ content }}
          </div>
        </div>
    </article>
    
{% include footer.html %}

{% include scripts.html %}

</body>

</html>
