<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <article class="post-content">
      
      {% assign projects = site.data.researchprojects.projects | where: 'key', 'sebook' %}
      {% assign project  = projects.first %}

      <nav class="navbar top-nav-collapse navbar-inverse navbar-fixed-top" id="navnav">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="{{project.url}}">{{project.title}} | {{ site.author }}</a>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- Extract H1 headings from content -->
            {% assign h1_matches = content | split: '<h1>' %}
            {% for match in h1_matches %}
              {% if match contains '</h1>' %}
                {% assign heading_text = match | split: '</h1>' | first %}
                {% if heading_text != "" %}
                  {% assign heading_id = heading_text | downcase | replace: ' ', '-' | replace: '&amp;', '' | replace: '(', '' | replace: ')', '' %}
                  <li><a class="page-scroll" href="#{{ heading_id }}">{{ heading_text }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


      {% include header_project.html title=page.title %}

        <div class="container">
          <div class="row">
                {% assign sections = content | split: '<h1>' %}
                {% for section in sections %}
                  {% if section contains '</h1>' %}
                    {% assign heading_and_content = section | split: '>' %}
                    {% assign heading_text = heading_and_content[1] | split: '</h1>' | first %}
                    {% assign section_content = section | split: '</h1>' | last %}
                    {% if heading_text != "" %}
                      {% assign section_id = heading_text | downcase | replace: ' ', '-' | replace: '&amp;', '' | replace: '(', '' | replace: ')', '' | replace: '</h1', '' %}
                      <section id="{{ section_id }}">
                        <h1>{{ heading_text }}</h1>{{ section_content }}
                      </section>
                    {% endif %}
                  {% else %}
                    {{ section }}
                  {% endif %}
                {% endfor %}
              
          </div>
        </div>
    </article>
    
{% include footer.html %}

{% include scripts.html %}

</body>

</html>
