<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include ga.html %}

{% include navbar.html %}

{% include header.html %}

{% include carousel.html %}
  
{% include news.html %}
  
{% include publications_featured.html %}

{% include talks.html %}

{% include teaching.html %}

{% include activities.html %}

{% include videos.html %}

{% include contact.html %}

{% include footer.html %}

{% include scripts2.html %}

</body>

</html>
